* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(185, 75%, 39%);
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Kumbh Sans", sans-serif;
}

.top {
    background-image: url(images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    position: absolute;
    bottom: 140px;
    right: 155px;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.bottom {
    background-image: url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    position: absolute;
    top: 295px;
    width: 100%;
    height: 100vh;
    z-index: -1;
}


.container {
    min-width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.back {
    height: 25vh;
    width: 100%;
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
}

.vector .img {
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 7px solid white;
    position: absolute;
    left: -60px;
    bottom: 50%;
}

.vector {
    position: relative;
}

.image {
    height: 30vh;
    width: 100%;
}

.name {
    display: flex;
    gap: 2rem;
}

.name h1 {
    font-size: 25px;
    color: hsl(229, 23%, 23%);
    font-weight: 900;
}

.name h3 {
    font-size: 20px;
    font-weight: 600;
    color: hsl(227, 10%, 46%);
}

.h4 {
    color: hsl(227, 10%, 46%);
}

hr {
    width: 100%;
}

.profile {
    display: flex;
    gap: 5rem;
    padding: 2rem;
}

.profile h4 {
    color: hsl(227, 10%, 46%);
}

